{% extends "base.html"%}
{% block content %}
<div class="container ">
    <div class="row">
        <form action="../tomarSeleccionTipoVisita/" method="POST">
            {% csrf_token %}
            <!-- datos viejos -->
            <div class="seleccionados-row">
            <label for="responsableLogueado" class="label-readonly">Responsable logueado: </label><input type="text" class="input-readonly" value="{{responsableLogueado}}" readonly="true" name="responsableLogueado">
            <br>
            </div>
            <div class="seleccionados-row">
            <label for="escuelaSeleccionada" class="label-readonly">Escuela: </label><input type="text" class="input-readonly" value="{{escuelaSeleccionada}}" readonly="true" name="escuelaSeleccionada">
            <br>
            </div>
            <div class="seleccionados-row">
            <label for="cantVisitantes" class="label-readonly">Cantidad de visitantes: </label><input class="input-readonly" type="text" name="cantVisitantes" readonly="true" value="{{cantVisitantes}}">
            <br>
            </div>
            <div class="seleccionados-row">
            <label for="sedeSeleccionada" class="label-readonly">Sede: </label><input type="text" class="input-readonly" name="sedeSeleccionada" readonly="true" value="{{sedeSeleccionada}}">
            <br>
            </div>
            <!-- nuevos datos -->
            <label for="tipoVisitaSeleccionada" class="label-readonly">Tipo Visita:</label>
            <select name="tipoVisitaSeleccionada" class="form-select" required>
                {% for tipo in tipoVisita %}
                <option value="{{tipo}}">{{tipo}}</option>
                {% endfor %}
            </select>
        
            <div class="submit-container">
                <input type="submit" value="Seleccionar" class="btn btn-primary mb-2 mt-3">
            </div>
        </form>
    </div>    
</div>
{% endblock content %}