{% extends "base.html"%}
{% block content %}
    <form action="../tomarSeleccionTipoVisita/" method="POST">
        {% csrf_token %}
        <!-- datos viejos -->
        <label for="escuelaSeleccionada">Escuela: </label><input type="text" value="{{escuelaSeleccionada}}" readonly="true" name="escuelaSeleccionada">
        <br>
        <label for="cantVisitantes">Cantidad de visitantes: </label><input type="text" name="cantVisitantes" readonly="true" value="{{cantVisitantes}}">
        <br>
        <label for="sedeSeleccionada">Sede: </label><input type="text" name="sedeSeleccionada" readonly="true" value="{{sedeSeleccionada}}">
        <br>
        <!-- nuevos datos -->
        <label for="tipoVisitaSeleccionada">Tipo Visita:</label>
        <select name="tipoVisitaSeleccionada" required>
            {% for tipo in tipoVisita %}
            <option value="{{tipo}}">{{tipo}}</option>
            {% endfor %}
        </select>
    
        <input type="submit" value="Seleccionar">
    </form>
{% endblock content %}