{% extends "base.html"%}
{% block content %}
<div class="container ">
    <h3>Registrar Reserva de Visita Guiada</h3>
    <h6>Seleccionar sede</h6>
    <p>Paso 3 de 8</p>
    <hr>
    <div class="row">
        <form action="../tomarSeleccionSede/" method="POST">
            {% csrf_token %}
            <!-- datos viejos -->
            <div class="seleccionados-row">
            <label for="responsableLogueado" class="label-readonly">Responsable logueado: </label><input type="text" class="input-readonly" value="{{responsableLogueado}}" readonly="true" name="responsableLogueado">
            <br>
            </div>
            <div class="seleccionados-row">
            <label for="escuelaSeleccionada" class="label-readonly">Escuela: </label><input type="text" class="input-readonly" value="{{escuelaSeleccionada}}" readonly="true" name="escuelaSeleccionada">
            <br>
            </div>
            <div class="seleccionados-row">
            <label for="cantVisitantes" class="label-readonly">Cantidad de visitantes: </label><input type="text" class="input-readonly" name="cantVisitantes" readonly="true" value="{{cantVisitantes}}">
            <br>
            </div>
            <!-- nuevos datos -->
            <label for="sedeSeleccionada" class="label-readonly">Sede:</label>
            <select name="sedeSeleccionada" class="form-select mt-2 mb-3" required>
                {% for sede in nombreSede %}
                <option value="{{sede}}">{{sede}}</option>
                {% endfor %}
            </select>
        
            <div class="submit-container">
                <input type="submit" value="Seleccionar" class="btn btn-primary mb-2">
            </div>
        </form>

    </div>    
</div>
{% endblock content %}