{% extends "base.html" %}
{% block content %}
<div class="container ">
    <h3>Registrar Reserva de Visita Guiada</h3>
    <h6>Seleccionar escuela</h6>
    <p>Paso 1 de 8</p>
    <hr>
    <div class="row">
        <form action="../tomarSeleccionEscuela/" method="POST">
            {% csrf_token %}
            <div class="seleccionados-row">
            <label for="responsableLogueado" class="label-readonly">Responsable logueado: </label><input type="text" class="input-readonly" value="{{responsableLogueado}}" readonly="true" name="responsableLogueado">
            <br></div>
            <label for="escuelaSeleccionada" class="label-readonly mt-2">Escuela:</label>
            <select name="escuelaSeleccionada" class="form-select mt-1 mb-4" required>
                {% for escuela in nombreEscuelas %}
                <option value="{{escuela}}">{{escuela}}</option>
                {% endfor %}
            </select>
        
            <div class="submit-container">
                <input type="submit" value="Seleccionar" class="btn btn-primary mb-2">
            </div>
        </form>
    </div>
</div>

{% endblock content %}

{% block title %}Solicitar selección de escuela{% endblock title %}