{% extends "base.html"%}
{% block content %}
<div class="container">
    <form action="../tomarSeleccionGuias/" method="POST">
        {% csrf_token %}
        <!-- datos viejos -->
        <div class="seleccionados-row">
        <label for="responsableLogueado" class="label-readonly">Responsable logueado: </label><input type="text" class="input-readonly" value="{{responsableLogueado}}" readonly="true" name="responsableLogueado">
        <br></div>
        <div class="seleccionados-row">
        <label for="escuelaSeleccionada" class="label-readonly">Escuela: </label><input type="text" class="input-readonly" value="{{escuelaSeleccionada}}" readonly="true" name="escuelaSeleccionada">
        <br></div>
        <div class="seleccionados-row">
        <label for="cantVisitantes" class="label-readonly">Cantidad de visitantes: </label><input type="text" class="input-readonly" name="cantVisitantes" readonly="true" value="{{cantVisitantes}}">
        <br></div>
        <div class="seleccionados-row">
        <label for="sedeSeleccionada" class="label-readonly">Sede: </label><input type="text" class="input-readonly" name="sedeSeleccionada" readonly="true" value="{{sedeSeleccionada}}">
        <br></div>
        <div class="seleccionados-row">
        <label for="tipoVisitaSeleccionada" class="label-readonly">Tipo Visita: </label><input type="text" class="input-readonly" name="tipoVisitaSeleccionada" readonly="true" value="{{tipoVisitaSeleccionada}}">
        <br></div>
        <table class="table mt-3">
            <thead>
                <th ></th>
                <th class="col">Exposición</th>
            </thead>
            <tbody>
                {% for expo in exposicionSeleccionada %}
                <tr>
                    <td><input type="hidden" name="exposicionSeleccionada[]" value="{{expo}}" onclick="return false;" checked></td>
                    <td>{{expo}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="seleccionados-row">
        <label class="label-readonly">Fecha y Hora de Reserva</label><input type="datetime-local" class="input-readonly" name="fechaYHoraReserva" readonly="true" value="{{fechaYHoraReserva}}">
        <br></div>
        <div class="seleccionados-row">
        <label for="duracionReserva" class="label-readonly">Duración reserva: </label><input type="text" class="input-readonly" name="duracionReserva" readonly="true" value="{{duracionReserva}}">
        <br></div>
        <div class="seleccionados-row">
        <label for="horarioInicio" class="label-readonly">Hora de Inicio: </label><input type="text" class="input-readonly" name="horarioInicio" readonly="true" value="{{horarioInicio}}">
        <br></div>
        <div class="seleccionados-row">
        <label for="horarioFin" class="label-readonly">Hora de Finalización: </label><input type="text" class="input-readonly" name="horarioFin" readonly="true" value="{{horarioFin}}">
        <br></div>
        <div class="seleccionados-row">
        <label for="cantGuias" class="label-readonly">Guias Necesarios: </label><input type="text" class="input-readonly" name="cantGuias" readonly="true" value="{{cantGuias}}">
        <br></div>
        <!-- nuevos datos -->
        {% if guiasDisponibles %}
            <table class="table mt-3">
                <thead>
                    <th class="col w-25">Seleccionar</th>
                    <th class="col w-75">Guías</th>
                </thead>
                <tbody>
                    {% for guia in guiasDisponibles %}
                    <tr>
                        <td><input type="checkbox" name="guiasSeleccionados[]" value="{{guia}}"></td>
                        <td>{{guia}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No hay guias disponibles para asignar a la visita</p>
        {% endif %}

      
    
        <div class="submit-container">
            <input type="submit" value="Seleccionar" class="btn btn-primary mb-2">
        </div>
    </form>
</div>
{% endblock content %}