{% extends "base.html"%}
{% block content %}
<div class="container ">
    <h3>Registrar Reserva de Visita Guiada</h3>
    <h6>Ingresar cantidad de visitantes</h6>
    <p>Paso 2 de 8</p>
    <hr>
    <form action="../tomarCantVisitantes/" method="POST">
        {% csrf_token %}
        <!-- datos viejos -->
        <div class="seleccionados-row">
        <label for="responsableLogueado" class="label-readonly">Responsable logueado: </label><input type="text" class="input-readonly" value="{{responsableLogueado}}" readonly="true" name="responsableLogueado">
        <br>
        </div>
        <div class="seleccionados-row">
        <label for="escuelaSeleccionada" class="label-readonly">Escuela: </label><input type="text" class="input-readonly" value="{{escuelaSeleccionada}}" readonly="true" name="escuelaSeleccionada">
        <br>
        </div>
        <!-- nuevos datos -->
        <label for="cantVisitantes" class="bold">Ingrese la cantidad de visitantes: </label><input  class="form-control " type="number" name="cantVisitantes" min="1" value="1" required>
    
        <div class="submit-container">
            <input type="submit" value="Enviar" class="btn btn-primary mb-2 mt-3">
        </div>
    </form>
    </div>    
</div>
{% endblock content %}