{% extends "base.html"%}
{% block content %}
<div class="container ">
    <div class="row">
        <form action="../tomarConfirmacion/" method="POST">
            {% csrf_token %}
            <!-- datos viejos -->
            <div class="seleccionados-row">
            <label for="responsableLogueado" class="label-readonly">Responsable logueado: </label><input class="input-readonly" type="text" value="{{responsableLogueado}}" readonly="true" name="responsableLogueado">
            <br>
            </div>
            <div class="seleccionados-row">
            <label for="escuelaSeleccionada" class="label-readonly">Escuela: </label><input class="input-readonly" type="text" value="{{escuelaSeleccionada}}" readonly="true" name="escuelaSeleccionada">
            <br>
            </div>
            <div class="seleccionados-row">
            <label for="cantVisitantes" class="label-readonly">Cantidad de visitantes: </label><input class="input-readonly" type="text" name="cantVisitantes" readonly="true" value="{{cantVisitantes}}">
            <br>
            </div>
            <div class="seleccionados-row">
            <label for="sedeSeleccionada" class="label-readonly">Sede: </label><input class="input-readonly" type="text" name="sedeSeleccionada" readonly="true" value="{{sedeSeleccionada}}">
            <br>
            </div>
            <div class="seleccionados-row">
            <label for="tipoVisitaSeleccionada" class="label-readonly">Tipo Visita: </label><input class="input-readonly" type="text" name="tipoVisitaSeleccionada" readonly="true" value="{{tipoVisitaSeleccionada}}">
            <br>
            </div>
            <table class="table">
                <thead>
                    <th></th>
                    <th class="col">Exposición</th>
                </thead>
                <tbody>
                    {% for expo in exposicionSeleccionada %}
                    <tr>
                        <td><input type="hidden" name="exposicionSeleccionada[]" value="{{expo}}" checked></td>
                        <td>{{expo}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            
            <input class="input-readonly" type="datetime-local" name="fechaYHoraReserva" readonly="true" value="{{fechaYHoraReserva}}">
            <br>
            
            <div class="seleccionados-row">
            <label for="duracionReserva" class="label-readonly">Duración reserva: </label><input class="input-readonly" type="text" name="duracionReserva" readonly="true" value="{{duracionReserva}}">
            <br>
            </div>
            <div class="seleccionados-row">
            <label for="horarioInicio" class="label-readonly">Hora de Inicio: </label><input class="input-readonly" type="text" name="horarioInicio" readonly="true" value="{{horarioInicio}}">
            <br>
            </div>
            <div class="seleccionados-row">
            <label for="horarioFin" class="label-readonly">Hora de Finalización: </label><input class="input-readonly" type="text" name="horarioFin" readonly="true" value="{{horarioFin}}">
            <br>
            </div>
            <div class="seleccionados-row">
            <label for="cantGuias" class="label-readonly">Guias Necesarios: </label><input class="input-readonly" type="text" name="cantGuias" readonly="true" value="{{cantGuias}}">
            <br>
            </div>
            <table class="table">
                <thead>
                    <th></th>
                    <th class="col">Guías</th>
                </thead>
                <tbody>
                    {% for guia in guiasSeleccionados %}
                    <tr>
                        <td><input type="hidden" name="guiasSeleccionados[]" value="{{guia}}" checked></td>
                        <td>{{guia}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
          
            <p class="bold">¿Confirma los datos?</p>
            <div class="submit-container">
                <input type="submit" value="Confirmar" class="btn btn-primary mb-2">
            </div>
        </form>
    </div>    
</div>
{% endblock content %}